In [33]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import cross_val_score
from sklearn.preprocessing import OneHotEncoder
from sklearn.pipeline import Pipeline
from sklearn import preprocessing
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import StandardScaler #you can use minmax scaler too
#Import other necessary model libraries, for this example, using Logistic Regression

In [34]:
train_data = pd.read_csv(r"../Data/Corrected Datasets/train-dataset.csv", header = 0)
test_data = pd.read_csv(r"../Data/Corrected Datasets/test-dataset.csv", header = 0)
validation_data = pd.read_csv(r"../Data/Corrected Datasets/validation-dataset.csv", header = 0)

In [35]:
data_quan_cols = ['Age','Discount_Rate', 'Room_Rate','Expected_stay_days', 
                        'Reservation_gap', 'Adults', 'Children','Babies']

In [36]:
data_cat_cols = ['Gender', 'Ethnicity', 'Educational_Level', 'Income', 'Country_region',
                 'Hotel_Type', 'Meal_Type', 'Visted_Previously',
                 'Previous_Cancellations', 'Deposit_type', 'Booking_channel',
                 'Required_Car_Parking', 'Use_Promotion']

In [37]:
data_cat_pipeline = ColumnTransformer([
    #('numerical', quan_pipeline, data_quan_cols),
    ('categorical', OneHotEncoder(), data_cat_cols)
], remainder='passthrough')

train_data_cat_processed = data_cat_pipeline.fit_transform(train_data)
data_processed_cols = data_cat_pipeline.get_feature_names()

train_data_cat_processed = pd.DataFrame(train_data_cat_processed, columns = data_processed_cols)
train_data_cat_processed.head()

,categorical__x0_F,categorical__x0_M,categorical__x1_African American,categorical__x1_Asian American,categorical__x1_Latino,categorical__x1_caucasian,categorical__x2_College,categorical__x2_Grad,categorical__x2_High-School,categorical__x2_Mid-School,...,Reservation-id,Age,Adults,Children,Babies,Reservation_Status,Discount_Rate,Room_Rate,Expected_stay_days,Reservation_gap
0,1,0,0,0,1,0,0,1,0,0,...,39428300,40,2,2,0,Check-In,10,218,1,41
1,1,0,0,0,1,0,0,0,0,1,...,77491756,49,3,3,0,Check-In,0,185,1,36
2,1,0,0,0,0,1,0,1,0,0,...,73747291,42,3,3,0,Check-In,0,119,4,3
3,0,1,1,0,0,0,1,0,0,0,...,67301739,25,4,3,0,Check-In,5,144,1,12
4,1,0,0,0,1,0,0,0,1,0,...,77222321,62,1,1,0,Check-In,10,242,1,13

In [38]:
data_processed_cols

['categorical__x0_F',
 'categorical__x0_M',
 'categorical__x1_African American',
 'categorical__x1_Asian American',
 'categorical__x1_Latino',
 'categorical__x1_caucasian',
 'categorical__x2_College',
 'categorical__x2_Grad',
 'categorical__x2_High-School',
 'categorical__x2_Mid-School',
 'categorical__x3_25K --50K',
 'categorical__x3_50K -- 100K',
 'categorical__x3_<25K',
 'categorical__x3_>100K',
 'categorical__x4_East',
 'categorical__x4_North',
 'categorical__x4_South',
 'categorical__x4_West',
 'categorical__x5_Airport Hotels',
 'categorical__x5_City Hotel',
 'categorical__x5_Resort',
 'categorical__x6_BB',
 'categorical__x6_FB',
 'categorical__x6_HB',
 'categorical__x7_No',
 'categorical__x7_Yes',
 'categorical__x8_No',
 'categorical__x8_Yes',
 'categorical__x9_No Deposit',
 'categorical__x9_Non-Refundable',
 'categorical__x9_Refundable',
 'categorical__x10_Agent',
 'categorical__x10_Direct',
 'categorical__x10_Online',
 'categorical__x11_No',
 'categorical__x11_Yes',
 'categorical__x12_No',
 'categorical__x12_Yes',
 'Reservation-id',
 'Age',
 'Adults',
 'Children',
 'Babies',
 'Reservation_Status',
 'Discount_Rate',
 'Room_Rate',
 'Expected_stay_days',
 'Reservation_gap']

In [31]:
quan_pipeline = Pipeline([
    ('std_scaler', StandardScaler())
])

data_quan_pipeline = ColumnTransformer([
    ('numerical', quan_pipeline, data_quan_cols)
], remainder = 'passthrough')

train_data_processed = data_quan_pipeline.fit_transform(train_data_cat_processed)
#train_data_processed.shape
train_data_processed = pd.DataFrame(train_data_processed, columns = data_processed_cols)
train_data_processed.head()

,categorical__x0_F,categorical__x0_M,categorical__x1_African American,categorical__x1_Asian American,categorical__x1_Latino,categorical__x1_caucasian,categorical__x2_College,categorical__x2_Grad,categorical__x2_High-School,categorical__x2_Mid-School,...,Reservation-id,Age,Adults,Children,Babies,Reservation_Status,Discount_Rate,Room_Rate,Expected_stay_days,Reservation_gap
0,-0.259916,-0.222668,0.976918,-0.848786,-0.882936,-0.283531,0.354755,-0.61317,1,0,...,0,0,0,1,0,1,0,1,39428300,Check-In
1,0.328209,-1.11506,0.224803,-0.848786,-0.947,0.566444,1.73988,-0.61317,1,0,...,1,0,0,1,0,1,1,0,77491756,Check-In
2,-0.129221,-1.11506,-1.27943,2.19632,-1.36982,0.566444,1.73988,-0.61317,1,0,...,0,0,0,1,0,1,1,0,73747291,Check-In
3,-1.24012,-0.668864,-0.709642,-0.848786,-1.25451,1.41642,1.73988,-0.61317,0,1,...,1,1,0,0,0,1,0,1,67301739,Check-In
4,1.17772,-0.222668,1.52391,-0.848786,-1.24169,-1.13351,-1.03037,-0.61317,1,0,...,0,0,1,0,1,0,0,1,77222321,Check-In

In [29]:
train_data_processed.shape

(27499, 48)

In [10]:
validation_data_processed = data_pipeline.transform(validation_data)

In [ ]:
type(train_data_processed)

In [20]:
le = preprocessing.LabelEncoder()

In [21]:
target_train = train_data['Reservation_Status']
le.fit(target_train)

LabelEncoder()

In [22]:
target_validation = validation_data['Reservation_Status']

In [23]:
print(le.classes_)

['Canceled' 'Check-In' 'No-Show']

In [24]:
y_train = le.transform(target_train)
y_valid = le.transform(target_validation)

In [38]:
from sklearn.ensemble import GradientBoostingClassifier
model = GradientBoostingClassifier(n_estimators=1000, learning_rate=1.0, max_depth=5, random_state=0, verbose = 1)

In [39]:
model.fit(train_data_processed, y_train) #training the model

      Iter       Train Loss   Remaining Time
         1           0.6474            3.81m
         2           0.6349            3.40m
         3           0.6272            3.28m
         4           0.6200            3.17m
         5           0.6134            3.14m
         6           0.6054            3.09m
         7           0.5983            3.07m
         8           0.5922            3.06m
         9           0.5861            3.05m
        10           0.5796            3.03m
        20           0.5239            2.97m
        30           0.4706            2.95m
        40           0.4229            2.91m
        50           0.3805            2.87m
        60           0.3431            2.82m
        70           0.3091            2.78m
        80           0.2778            2.74m
        90           0.2503            2.70m
       100           0.2251            2.66m
       200           0.0808            2.32m
       300           0.0325            2.06m
       400           0.0139            1.78m
       500           0.0060            1.49m
       600           0.0027            1.20m
       700           0.0012           54.50s
       800           0.0005           36.19s
       900           0.0002           18.07s
      1000           0.0001            0.00s

GradientBoostingClassifier(learning_rate=1.0, max_depth=5, n_estimators=1000,
                           random_state=0, verbose=1)

In [40]:
y_pred = model.predict(validation_data_processed)

In [41]:
# Getting f1 score
from sklearn.metrics import classification_report
print(classification_report(y_valid, y_pred))

              precision    recall  f1-score   support

           0       0.24      0.09      0.13       741
           1       0.58      0.86      0.69      1610
           2       0.10      0.03      0.04       398

    accuracy                           0.53      2749
   macro avg       0.31      0.32      0.29      2749
weighted avg       0.42      0.53      0.45      2749